<nav class="navbar navbar-light bg-light">
    <form>
        <button class="btn btn-sm btn-outline-secondary" type="button">Saved Articles</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Scrape Articles</button>
    </form>
</nav>

<h1>Find Stuff</h1>
<h3></h3>

<ul>
    
</ul>